
body {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:    'green green green'
                            'yellow red blue'
                            'orange orange blue';
}

#green {
    grid-area: green;
}

#yellow {
    grid-area: yellow;
}

#red {
    grid-area: red;
}

#blue {
    grid-area: blue;
}

#orange {
    grid-area: orange;
}



ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body ul:first-of-type {
    grid-template-areas: 'one two'
                         'three four';
}

body #letter {
    grid-template-areas: 'a b'
                         'c d';
}

#a {
    grid-area: a;
}

#b {
    grid-area: b;
}

#c {
    grid-area: c;
}

#d {
    grid-area: d;
}



#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}
